@model AppDev.Models.Store

@{
    ViewData["Title"] = "Details";
}

<h1>Name of the store</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreOwner.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Books">List of Books</a>
</div>
