@{
    ViewData["Title"] = "Home Page";
}
@model AppDev.Models.Book
<!DOCTYPE html>
<dev style="height: 800px">
<dev><h1 style="text-align: center; padding-top : 120px; font-family: cursive; font-size: 70px">Welcome to FPT's Book !</h1></dev>
<dev><h1 style="text-align: center; padding-top : 20px; font-family: cursive; font-size: 20px;width: 880px;padding-left: 280px">FPT's Book is a haven for all book lovers! We offer an extensive collection of fiction, non-fiction, and children's books. Our knowledgeable staff is always on hand to help you find the perfect read. Come and explore our shelves, and discover your next great adventure.</h1></dev>
</dev>