@{
    ViewData["Title"] = "Checkout Success";
}

<div class="text-center">
    <h1>Checkout Success</h1>
    <br class="m-3" />
    <p class="text-black my-3">Your orders are ready, please checking the Orders or go back to browser more.</p>
    <a class="btn btn-primary my-3" asp-action="Index" asp-controller="Orders">Check Orders</a>
    <a class="btn btn-secondary my-3" asp-action="Index" asp-controller="Books">Continue to browser</a>
</div>