@{
    ViewData["Title"] = "Index";
}

<h1>List of accounts</h1>

<a class="btn btn-primary mb-3" asp-action="Customers">View Customers</a> 
<br />
<a class="btn btn-primary mb-3" asp-action="StoreOwners">View StoreOwners</a>
<br />
<a class="btn btn-primary mb-3" asp-action="ResetPassword">Reset Password</a>

